:root {
    --sonic-silver: #7a7978ff;
    --oxford-blue: #14213dff;
    --orange-web: #fca311ff;
    --platinum: #e5e5e5ff;
    --rhythm: #7c7287ff;

    --body: white;
    --text: var(--oxford-blue);
    --transparent: #0000;

    --container: var(--sonic-silver);
    --controls: var(--platinum);
    --action: white;
    --highlight: var(--orange-web);

    --border-radius: 6px;
    --border-color: var(--oxford-blue);
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    overscroll-behavior: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    background-color: var(--body);
    color: var(--text);
}

input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    -webkit-padding: 0.4em 0;
    padding: 0.4em;
    margin: 0 0 0.5em 0;
    box-sizing: border-box;
    border-radius: 2px;
}

input[type='range'] {
    margin-top: 0.5em;
}
input[type='range']:hover {
    outline: 0.2rem dotted var(--border-color);
}

input[type='range']:focus {
    outline: 0.2rem dashed var(--border-color);
}

/*input[type='range']::-moz-range-track {
    background-color: var(--border-color);
    height: 0.1rem;
    /*width: 11rem;
}
*/
button {
    font-family: inherit;
    font-size: inherit;

    border-radius: var(--border-radius);
    height: 2.5rem;
    width: 2.5rem;

    padding: 0.4rem;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: 0.1rem solid var(--border-color);
    background-color: var(--action);
}

button:hover {
    padding: calc(0.4rem - 0.12rem);
    border: 0.2rem dashed var(--border-color);
}

button:focus {
    padding: calc(0.4rem - 0.12rem);
    border: 0.2rem solid var(--border-color);
}

button:active,
.active {
    box-shadow: 2px 2px 2px 1px var(--border-color) inset;
}

svg {
    fill: var(--text);
}
